*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #475e47;
}
.calendar{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    }
.month{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    justify-content: space-evenly;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: -11px -11px 5px -13px rgba(247,239,247,1);
    transition: 1s;
    }
.month p{
    font-size: 14px;
    margin: 8px 0;
}
.month h2{
    font-size: 18px;
    margin: 10px 0;
}
.month:hover{
    transform: scale(1.05);
    transition: 2s;
}