*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: Tahoma;
}
section p{
    width: 90%;
}
section a{
    color: black;
    font-size: 30px;
}
section h2{
    font-size: 30px;
}
#firstpage{
    background-color: #ac4343;
}
#secondpage{
    background-color: #76bda2;
}
#thirdpage{
    background-color: rgba(29, 74, 29, 0.91);
}
